<li class="how__step">
  <div class="how__step-scene medallion medallion--lg" data-svg="process/input.svg" aria-hidden="true"><span class="slot-label">process/input.svg</span></div>
  <div class="how__step-title">Ввод</div>
  <div class="how__step-desc">Матрица или система</div>
</li>
<li class="how__step">
  <div class="how__step-scene medallion medallion--lg" data-svg="process/choose.svg" aria-hidden="true"><span class="slot-label">process/choose.svg</span></div>
  <div class="how__step-title">Выбор</div>
  <div class="how__step-desc">Операция и метод</div>
</li>
<li class="how__step">
  <div class="how__step-scene medallion medallion--lg" data-svg="process/result.svg" aria-hidden="true"><span class="slot-label">process/result.svg</span></div>
  <div class="how__step-title">Решение</div>
  <div class="how__step-desc">Пошагово, с проверкой</div>
</li>
<li class="how__step">
  <div class="how__step-scene medallion medallion--lg" data-svg="process/learn.svg" aria-hidden="true"><span class="slot-label">process/learn.svg</span></div>
  <div class="how__step-title">Изучение</div>
  <div class="how__step-desc">Теория и интуиция</div>
</li>